@(diretorForm: Form[Diretor])
@import helper._
@import helper.twitterBootstrap._
@import play.api.libs.functional.syntax._

@main("Formulário Diretores") {
  <h1>Formulário Diretores</h1>
  @helper.form(action = routes.Diretores.salvar()) {
  <fieldset>
	  <legend>Diretor (@diretorForm("nome").valueOr("Novo"))</legend>
	  @helper.inputText(diretorForm("id"), '_label -> "ID", 'readonly -> "readonly")
	  @helper.inputText(diretorForm("nome"),'_label -> "Nome")
  </fieldset>
  <input type="submit" class="btn btn-success" value="Save">
  <a class="btn btn-danger" href="@routes.Diretores.list(0, "nome", "asc", "","nome")">Cancel</a>
  }
}
      