@(situacaoForm: Form[Situacao])
@import helper._
@import helper.twitterBootstrap._
@import play.api.libs.functional.syntax._

@main("Formulário Status") {
  <h1>Formulário Status</h1>
  @helper.form(action = routes.Situacoes.salvar()) {
  <fieldset>  
	  <legend>Status (@situacaoForm("nome").valueOr("Novo"))</legend>
	  @helper.inputText(situacaoForm("id"), '_label -> "ID", 'readonly -> "readonly")
	  @helper.inputText(situacaoForm("nome"),'_label -> "Nome")
  </fieldset>
  <input type="submit" class="btn btn-success" value="Save">
  <a class="btn btn-danger" href="@routes.Situacoes.list(0, "id", "asc", "","nome")">Cancel</a>
  }
}
      