@(vagacandidatoForm: Form[VagaCandidato])
@import helper._
@import helper.twitterBootstrap._
@import play.api.libs.functional.syntax._

@main("Formulário VagaCandidatos") {
  <h1>Formulário VagaCandidatos</h1>
  @helper.form(action = routes.VagasCandidatos.salvar()) {
  <fieldset>
    <legend>VagaCandidatos (@vagacandidatoForm("candidato.id").valueOr("Novo"))</legend>
	  @select(
                vagacandidatoForm("vaga.id"), 
                options(Vaga.options), 
                '_label -> "Vaga", '_default -> "-- Escolha uma Vaga--",
                '_showConstraints -> false
            )
      @select(
                vagacandidatoForm("candidato.id"), 
                options(Candidato.options), 
                '_label -> "Candidato", '_default -> "-- Escolha um Candidato--",
                '_showConstraints -> false
            )
      @select(
                vagacandidatoForm("aprovado"), 
                options(VagaCandidato.options), 
                '_label -> "Aprovado", '_default -> "-- Escolha se foi aprovado--",
                '_showConstraints -> false
            )
  </fieldset>
  <input type="submit" class="btn btn-success" value="Save">
  <a class="btn btn-danger" href="javascript:history.back();">Cancel</a>
  }
}
      