@(cargoNecessarioForm: Form[CargoNecessario])
@import helper._
@import helper.twitterBootstrap._
@import play.api.libs.functional.syntax._

@main("Formulário Cargo Necessário") {
  <h1>Formulário Cargo Necessário</h1>
  @helper.form(helper.CSRF(routes.CargosNecessarios.salvar())) {
  <fieldset>
	  <legend>Cargo Necessário (@cargoNecessarioForm("nome").valueOr("Novo"))</legend>
	  @helper.inputText(cargoNecessarioForm("id"), '_label -> "ID", 'readonly -> "readonly")
	  @helper.inputText(cargoNecessarioForm("nome"),'_label -> "Nome")
  </fieldset>
  <input type="submit" class="btn btn-success" value="Save">
  <a class="btn btn-danger" href="@routes.CargosNecessarios.list(0, "id", "asc", "","nome")">Cancel</a>
  }
}
      