@(areaForm: Form[Area])
@import helper._
@import helper.twitterBootstrap._
@import play.api.libs.functional.syntax._

@main("Formulário Áreas") {
  <h1>Formulário Áreas</h1>
  @helper.form(action = routes.Areas.salvar()) {
  <fieldset>
	  <legend>Área (@areaForm("nome").valueOr("Novo"))</legend>
	  @helper.inputText(areaForm("id"), '_label -> "ID", 'readonly -> "readonly")
	  @helper.inputText(areaForm("nome"),'_label -> "Nome")
	  @select(
                areaForm("diretor.id"), 
                options(Diretor.options), 
                '_label -> "Diretor", '_default -> "-- Escolha um Diretor--",
                '_showConstraints -> false
            )
      @select(
                areaForm("gestor.id"), 
                options(Gestor.options), 
                '_label -> "Gestor", '_default -> "-- Escolha um Gestor--",
                '_showConstraints -> false
            )      
  </fieldset>
  <input type="submit" class="btn btn-success" value="Save">
  <a class="btn btn-danger" href="@routes.Areas.list(0, "id", "asc", "","nome")">Cancel</a>
  }
}
      