@(currentPage: com.avaje.ebean.Page[Vaga])
@main("Vagas") {

  <h2>Vagas</h2>
   <script>
   function del(urlToDelete) {
      $.ajax({
        url: urlToDelete,
        type: 'DELETE',
        success: function(results) {
          // Refresh the page
          location.reload();
        }
      });
   }
   </script>
   <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Area</th>
        <th>Cargo</th>
        <th>Cargo Necessário</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    @for(vaga <- currentPage.getList()) {
      <tr>
        <td>
        	<a href="@routes.Vagas.detalhes(vaga)">
          		@vaga.id
        	</a>
        </td>
        <td>
        	<a href="@routes.Vagas.detalhes(vaga)">
				@vaga.area.nome
			</a>
		</td>
		<td>
        	<a href="@routes.Vagas.detalhes(vaga)">
				@vaga.cargo.nome
			</a>
		</td>
		<td>
        	<a href="@routes.Vagas.detalhes(vaga)">
				@vaga.cargoNecessario.nome
			</a>
		</td>
		<td>
          <a href="@routes.Vagas.detalhes(vaga)" class="btn btn-default"><i class="glyphicon glyphicon-pencil">&nbsp;</i>Alterar</a> 
          <a onclick="javascript:del('@routes.Vagas.delete(vaga.id)')" class="btn btn-default"><i class="glyphicon glyphicon-trash">&nbsp;</i>Excluir</a>
          <a href="@routes.VagasCandidatos.candidatosPorVaga(vaga,0)" class="btn btn-default"><i class="glyphicon glyphicon-user">&nbsp;</i>Candidatos</a> 
        </td>
      </tr>
      }
    </tbody>
   </table>
   <nav>
	  <ul class="pagination">
	  	@if(currentPage.hasPrev) {
	             <li class="prev">
	                 <a href="@routes.Vagas.lista(currentPage.getPageIndex - 1)">&larr; </a>
	             </li>
	         } else {
	             <li class="prev disabled">
	                 <a>&larr;</a>
	             </li>
	         }
	         <li class="current">
	             <a>@currentPage.getDisplayXtoYofZ(" - "," / ")</a>
	         </li>
	         @if(currentPage.hasNext) {
	             <li class="next">
	                 <a href="@routes.Vagas.lista(currentPage.getPageIndex + 1)"> &rarr;</a>
	             </li>
	         } else {
	             <li class="next disabled">
	                 <a>&rarr;</a>
	             </li>
	         }
	  </ul>
	</nav>
      
   <a href="@routes.Vagas.novo()" class="btn btn-default">
    <i class="glyphicon glyphicon-plus"></i> Nova vaga</a>
}