@(candidatoForm: Form[Candidato])
@import helper._
@import helper.twitterBootstrap._
@import play.api.libs.functional.syntax._

@main("Formulário Candidatos") {
  <h1>Formulário Candidatos</h1>
  @helper.form(action = routes.Candidatos.salvar()) {
  <fieldset>  
	  <legend>Candidato (@candidatoForm("nome").valueOr("Novo"))</legend>
	  @helper.inputText(candidatoForm("id"), '_label -> "ID", 'readonly -> "readonly")
	  @helper.inputText(candidatoForm("nome"),'_label -> "Nome")
	  @helper.inputText(candidatoForm("cpf"),'_label -> "CPF")
  </fieldset>
  <input type="submit" class="btn btn-success" value="Save">
  <a class="btn btn-danger" href="@routes.Candidatos.list(0, "id", "asc", "","nome")">Cancel</a>
  }
}
      