@(currentPage: com.avaje.ebean.Page[Candidato])
@main("Candidatos") {

  <h2>Candidatos</h2>
   <script>
   function del(urlToDelete) {
      $.ajax({
        url: urlToDelete,
        type: 'DELETE',
        success: function(results) {
          // Refresh the page
          location.reload();
        }
      });
   }
   </script>
   <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    @for(candidato <- currentPage.getList()) {
      <tr>
        <td>
        	<a href="@routes.Candidatos.detalhes(candidato)">
          		@candidato.id
        	</a>
        </td>
        <td>
        	<a href="@routes.Candidatos.detalhes(candidato)">
				@candidato.nome
			</a>
		</td>
		<td>
        	<a href="@routes.Candidatos.detalhes(candidato)">
				@candidato.cpf
			</a>
		</td>
		<td>
          <a href="@routes.Candidatos.detalhes(candidato)" class="btn btn-default"><i class="glyphicon glyphicon-pencil">&nbsp;</i>Alterar</a> 
          <a onclick="javascript:del('@routes.Candidatos.delete(candidato.id)')" class="btn btn-default"><i class="glyphicon glyphicon-trash">&nbsp;</i>Excluir</a> 
        </td>
      </tr>
      }
    </tbody>
   </table>
   <nav>
	  <ul class="pagination">
	  	@if(currentPage.hasPrev) {
	             <li class="prev">
	                 <a href="@routes.Candidatos.lista(currentPage.getPageIndex - 1)">&larr; </a>
	             </li>
	         } else {
	             <li class="prev disabled">
	                 <a>&larr;</a>
	             </li>
	         }
	         <li class="current">
	             <a>@currentPage.getDisplayXtoYofZ(" - "," / ")</a>
	         </li>
	         @if(currentPage.hasNext) {
	             <li class="next">
	                 <a href="@routes.Candidatos.lista(currentPage.getPageIndex + 1)"> &rarr;</a>
	             </li>
	         } else {
	             <li class="next disabled">
	                 <a>&rarr;</a>
	             </li>
	         }
	  </ul>
	</nav>
   <a href="@routes.Candidatos.novo()" class="btn btn-default">
    <i class="glyphicon glyphicon-plus"></i> Novo candidato</a>
}