@(gestorForm: Form[Gestor])
@import helper._
@import helper.twitterBootstrap._
@import play.api.libs.functional.syntax._

@main("Formulário Gestores") {
  <h1>Formulário Gestores</h1>
  @helper.form(helper.CSRF(routes.Gestores.salvar())) {
  <fieldset>  
	  <legend>Gestor (@gestorForm("nome").valueOr("Novo"))</legend>
	  @helper.inputText(gestorForm("id"), '_label -> "ID", 'readonly -> "readonly")
	  @helper.inputText(gestorForm("nome"),'_label -> "Nome")
  </fieldset>
  <input type="submit" class="btn btn-success" value="Save">
  <a class="btn btn-danger" href="@routes.Gestores.list(0, "nome", "asc", "")">Cancel</a>
  }
}
      