@(currentPage: com.avaje.ebean.Page[Gestor], currentSortBy: String, currentOrder: String, currentFilter: String, currentAtribute: String)
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Gestores.list(newPage, sortBy, order, currentFilter, currentAtribute)
    
}
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}
@main("Gestores") {

  <h2>Gestores</h2>
   <script>
   function del(urlToDelete) {
      $.ajax({
        url: urlToDelete,
        type: 'DELETE',
        success: function(results) {
          // Refresh the page
          location.reload();
        },
        error: function (results) {
            alert(results.responseText);
          }
      });
   }
   </script>
   <form action="@link(0, "nome")" method="GET">
       <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar...">
       <select name="a">
       		<option value="id" @(if(currentAtribute == "id") "selected=\"selected\"" else "")>ID</option>
       		<option value="nome" @(if(currentAtribute == "nome") "selected=\"selected\"" else "")>Nome</option>
       </select>
       <a id="searchsubmit" href="#" class="btn btn-primary" onclick="document.forms[0].submit();"><i class="glyphicon glyphicon-search">&nbsp;</i>Filtrar</a>
   </form>
   <table class="table table-striped">
    <thead>
      <tr>
        @header("id","ID")
        @header("nome","Nome")
        <th></th>
      </tr>
    </thead>
    <tbody>
    @for(gestor <- currentPage.getList()) {
      <tr>
        <td>
        	<a href="@routes.Gestores.detalhes(gestor)">
          		@gestor.id
        	</a>
        </td>
        <td>
        	<a href="@routes.Gestores.detalhes(gestor)">
				@gestor.nome
			</a>
		</td>
		<td>
          <a href="@routes.Gestores.detalhes(gestor)" class="btn btn-default"><i class="glyphicon glyphicon-pencil">&nbsp;</i>Alterar</a> 
          <a onclick="javascript:if(confirm('Deseja realmente excluir?')) del('@routes.Gestores.delete(gestor.id)'); else return false"" class="btn btn-danger"><i class="glyphicon glyphicon-trash">&nbsp;</i>Excluir</a> 
        </td>
      </tr>
      }
    </tbody>
   </table>
   <nav>
	  <ul class="pagination">
	  	@if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="current">
                    <a>Exibindo @currentPage.getDisplayXtoYofZ(" a "," de ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Próximo &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Próximo &rarr;</a>
                    </li>
                }
	  </ul>
	</nav>
   <a href="@routes.Gestores.novo()" class="btn btn-success">
    <i class="glyphicon glyphicon-plus"></i> Novo gestor</a>
}